body {
	font-family: Arial, sans-serif;
	margin: 10%;
	color: rgb(220, 220, 220);
	background-color: rgb(30, 30, 30);
}

input {
	margin-bottom: 10px;
}

.term-list {
	list-style-type: none;
	padding: 0;
}

.term-item {
	border: 1px solid rgb(58, 94, 100);
	margin-bottom: 5px;
	padding: 10px;
}

.term-item strong {
	color: rgb(50, 160, 180);
	/* termNameの初期文字色の設定 */
}


.highlight {
	color: rgb(255, 210, 80);
}


a {

	color: rgb(50, 160, 180);

}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


ul {
	list-style: none;
	text-decoration: none;
	color: inherit;
}

.cp_cont {
	height: 65vh;
}

.cp_offcm01 {
	position: absolute;
	top: 50px;
	right: 70px;
	/*チェックボックス位置*/
	display: inline-block;
}

/* menu */
.cp_offcm01 .cp_menu {
	position: fixed;
	/*常に画面に居る*/
	top: 0;
	right: -100vw;
	/*メニューを隠す*/
	width: 250px;
	/*メニュー横幅*/
	height: 100%;
	/*メニュー縦幅*/
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38, .52, .23, .99);
	transition-timing-function: cubic-bezier(.38, .52, .23, .99);
	background: linear-gradient(rgba(110, 200, 200, 0.9), rgba(200, 0, 200, 0.2));
	text-shadow: 0 0 15px #000;
	opacity: 0.8;
}

.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}

.cp_offcm01 .cp_menu li {
	list-style: none;
}

.cp_offcm01 .cp_menu li a {
	/*メニュー内デザイン*/
	display: block;
	padding: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	border-bottom: 5px solid #8bdbe0;
}

.cp_offcm01 #cp_toggle01 {
	/*チェックボックス本体？*/
	position: fixed;
	/*常に画面に居る*/
	display: none;
	opacity: 0;
	/*不透明度？*/
	z-index: 5;
}

.cp_offcm01 #cp_toggle01:checked~.cp_menu {
	/*メニューが出てくる*/
	z-index: 5;
	-webkit-transform: translateX(-100vw);
	transform: translateX(-100vw);
}

/* menu toggle */
.cp_offcm01 #cp_toggle01~label {
	/*チェックボックスの動き、色*/
	background-image: url("https://github.com/r7740058/sotukenn/blob/main/image/menu.png?raw=true");
	background-size: 100%;
	background-repeat: no-repeat;
	position: fixed;
	/*常に画面に居る*/
	display: block;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61, -0.38, .37, 1.27);
	transition-timing-function: cubic-bezier(.61, -0.38, .37, 1.27);
	text-align: center;
	color: rgba(0, 0, 0, 0);
	z-index: 5;
	transform: scale(2);
}

.cp_offcm01 #cp_toggle01:checked~label {
	/*メニューの動き*/
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
}

.cp_offcm01 #cp_toggle01~label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}

.cp_offcm01 #cp_toggle01:checked~label::before {
	content: '\f00d';
}
